<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWB5Sga7xC03cMGN90shq07snBqm-V--E</string>
	<key>GCM_SENDER_ID</key>
	<string>596772360221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gayeugur.FireBaseApp</string>
	<key>PROJECT_ID</key>
	<string>tourismguideapp-63296</string>
	<key>STORAGE_BUCKET</key>
	<string>tourismguideapp-63296.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596772360221:ios:047f7369087ad6dcfe76f4</string>
</dict>
</plist>